:root {
    --primary-text: #354246;
    --primary-ligth: #62696e;
    --primary-dark: #2a3138;
    
    --secondary-text: #98a09d;
    --secondary-ligth: #acb1b1;

    --accent-color: #67a88e;

    --card-color: #ffffff;
    --selected-card: #f1f2f0;
    
    --background-color: #e2e4e1;
    
}